<div class="grid-center">
<section class="col-5_lg-7_md-8 pulls">
	<div class="section-header">
		<h2 class="section-title">Open</h2>
		<div class="clearfix"></div>
	</div>
	{{#if loadingPulls}}
		<div class="loader mt100"></div>
	{{else}}
		<div class="grid-noBottom">
			<div class="col-12">
				<a class="anchor" id="approved-pulls"></a>
			</div>
			{{#each approvedPulls as |pull|}}
				<div class="col-12">
					{{pull-card
						pull=pull
						addComment=(route-action 'addComment')
					}}
				</div>
			{{/each}}
			<div class="col-12">
				<a class="anchor" id="changes-requested-pulls"></a>
			</div>
			{{#each changesRequestedPulls as |pull|}}
				<div class="col-12">
					{{pull-card
						pull=pull
						addComment=(route-action 'addComment')
					}}
				</div>
			{{/each}}
			<div class="col-12">
				<a class="anchor" id="waiting-pulls"></a>
			</div>
			{{#each waitingPulls as |pull|}}
				<div class="col-12">
					{{pull-card
						pull=pull
						addComment=(route-action 'addComment')
					}}
				</div>
			{{/each}}
		</div>
	{{/if}}
</section>
<section class="col-4">
	<div class="section-header">
		<h2 class="section-title">Merged</h2>
		<div class="clearfix"></div>
	</div>
	{{#if loadingMergedPulls}}
		<div class="loader mt100"></div>
	{{else}}
		{{#if filteredMergedPulls}}
			<div class="grid-noBottom">
				{{#each filteredMergedPulls as |pull|}}
					<div class="col-12">
						{{merged-pull-card
							pull=pull
						}}
					</div>
				{{/each}}
			</div>
		{{else}}
			<div class="reload-btn" {{action (route-action 'loadMergedPulls')}}>
				Load Merged Pulls
			</div>
		{{/if}}
	{{/if}}
</section>
</div>
<div class="totals">
	<a class="anchor-link" href="#approved-pulls">
		<span class="green pill"><strong>{{numApproved}}</strong></span>
	</a>
	<a class="anchor-link" href="#changes-requested-pulls">
		<span class="red pill"><strong>{{numChangesRequested}}</strong></span>
	</a>
	<a class="anchor-link" href="#waiting-pulls">
		<span class="grey pill"><strong>{{numWaiting}}</strong></span>
	</a>
</div>
