<nav class="mainnav">
	<div class="grid-noBottom">
		<div class="col-4">
			<h5 class="mb0">Github Dashboard</h5>
		</div>
		<div class="col">
		</div>
		<div class="col-2">
			<div class="filter">
				{{#power-select
					allowClear=true
					placeholder="State"
					options=stateOptions
					selected=state
					onchange=(action 'onStateFilterChange')
					verticalPosition='below'
					as |state|
				}}
					{{state}}
				{{/power-select}}
			</div>
		</div>
		<div class="col-2">
			<div class="filter">
				{{#power-select
					allowClear=true
					placeholder="Team"
					options=teamOptions
					selected=team
					onchange=(action 'onTeamFilterChange')
					verticalPosition='below'
					as |team|
				}}
				{{team}}
			{{/power-select}}
			</div>
		</div>
		<div class="col-3">
			<div class="filter">
				{{#power-select
					allowClear=true
					placeholder="Author"
					options=authorOptions
					selected=author
					onchange=(action 'onAuthorFilterChange')
					verticalPosition='below'
					as |author|
				}}
				{{author}}
			{{/power-select}}
			</div>
		</div>
	</div>
</nav>
<section class="pulls">
	{{#if loading}}
		<div class="loader mt100"></div>
	{{else}}
		<div class="totals">
			<a class="anchor-link" href="#approved-pulls">
				<span class="green pill"><strong>{{numApproved}}</strong></span>
			</a>
			<a class="anchor-link" href="#changes-requested-pulls">
				<span class="red pill"><strong>{{numChangesRequested}}</strong></span>
			</a>
			<a class="anchor-link" href="#waiting-pulls">
				<span class="grey pill"><strong>{{numWaiting}}</strong></span>
			</a>
		</div>
		<div class="grid-noBottom">
			<div class="col-12">
				<a class="anchor" id="approved-pulls"></a>
			</div>
			{{#each approvedPulls as |pull|}}
				<div class="col-12">
					{{pull-card
						pull=pull
						addComment=(action 'addComment')
					}}
				</div>
			{{/each}}
			<div class="col-12">
				<a class="anchor" id="changes-requested-pulls"></a>
			</div>
			{{#each changesRequestedPulls as |pull|}}
				<div class="col-12">
					{{pull-card
						pull=pull
						addComment=(action 'addComment')
					}}
				</div>
			{{/each}}
			<div class="col-12">
				<a class="anchor" id="waiting-pulls"></a>
			</div>
			{{#each waitingPulls as |pull|}}
				<div class="col-12">
					{{pull-card
						pull=pull
						addComment=(action 'addComment')
					}}
				</div>
			{{/each}}
		</div>
	{{/if}}
</section>
<a href="#" id="back-to-top" title="Back to top">
	{{svg-icon
		iconId='chevron-up'
	}}
</a>
