<div class="components_pull-card_header">
	<div class="grid-noBottom-center">
		<div class="col-1_md-2">
			<a href="{{pull.author.htmlUrl}}" target="_blank" class="avatar">
				<img src="{{pull.author.avatarUrl}}" alt="avatar">
			</a>
		</div>
		<div class="col-11_md-10">
			<div class="info">
				<div class="grid-noBottom">
					<div class="col-8">
						<a href="{{pull.repo.htmlUrl}}" target="_blank">#{{pull.repo.name}}</a>
						<a href="{{pull.htmlUrl}}" target="_blank">#{{pull.number}}</a>
					</div>
					<div class="col-4 createdAt">
						{{moment-from-now pull.createdAt}}
					</div>
				</div>
			</div>
			<div class="title">
				<a href="{{pull.htmlUrl}}" target="_blank">{{pull.title}}</a>
			</div>
		</div>
	</div>
</div>
<div class="components_pull-card_body">
	{{md-text
		text=pull.description
		linkify=true
		break=true
		html=true
	}}
</div>
<div class="components_pull-card__footer">
	<div class="comments">
		<ul>
			{{pull-card/pull-comment
				author=pull.author.login
				authorName=pull.author.name
				comment=pullFirstComment
			}}
			{{#if isShowingAllComments}}
				{{#each comments as |comment|}}
					{{pull-card/pull-comment
						author=comment.author
						authorName=comment.authorName
						comment=comment.body
						commentUrl=comment.url
					}}
				{{/each}}
			{{else}}
				{{#if hasMultipleComments}}
					<li class="view-more" {{action 'showAllComments'}}>
						View all {{numComments}} comments
					</li>
				{{/if}}
				{{#if lastComments}}
					{{#each lastComments as |comment|}}
						{{pull-card/pull-comment
							author=comment.author
							authorName=comment.authorName
							comment=comment.body
							commentUrl=comment.url
						}}
					{{/each}}
				{{/if}}
			{{/if}}
		</ul>
	</div>
	<div class="updatedAt">
		{{#if lastComment}}
			{{moment-from-now lastComment.createdAt}}
		{{else}}
			{{moment-from-now pull.updatedAt}}
		{{/if}}
	</div>
	<section class="components_pull-card__add-comment">
		{{input
			type='text'
			value=commentValue
			class='awesomplete'
			placeholder='Add a comment...'
			keyUp=(action 'onCommentKeyUp')
			list='autocomplete-users'
		}}
	</section>
</div>
<div class="components_pull-card__status-bar {{statusClass}}">
</div>
